@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes closePopUp {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 0.8;
    }
}

@keyframes closeOverlay {
    from {
        background-color: var(--color-modal-overlay);
    }
    to {
        background-color: transparent;
    }
}

body {
    height: 100vh;
}

/* custome scroll */
*::-webkit-scrollbar-track {
    background-color: var(--color-light-theme-secondary);
    border-radius: 5px;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--color-light-theme-secondary);
}

*::-webkit-scrollbar-thumb {
    background-color: #8b7979;
    border-radius: 5px;
}
/* disable */
.no-scrool::-webkit-scrollbar-track {
    display: none;
}

.no-scrool::-webkit-scrollbar {
    display: none;
}

.no-scrool::-webkit-scrollbar-thumb {
    display: none;
}
/* scroll hover */
.hover-scroll::-webkit-scrollbar-track:not(:hover) {
    background-color: transparent;
    border-radius: 5px;
}

.hover-scroll::-webkit-scrollbar:not(:hover) {
    width: 6px;
    background-color: transparent;
}
.hover-scroll::-webkit-scrollbar-thumb:not(:hover) {
    background-color: transparent;
    border-radius: 5px;
}
/* Tip tap */
.ProseMirror-focused {
    outline: none;
}

.ProseMirror {
    padding: 4px;
    box-sizing: border-box;
}

.ProseMirror .is-empty:before,
.ProseMirror p.is-editor-empty:first-child:before {
    content: attr(data-placeholder);
    float: left;
    pointer-events: none;
    height: 0;
    opacity: 1;
    color: #9ca3af;
}

.table-shadow-left::after {
    box-shadow: var(--table-shadow-left-primary);
}

.table-shadow-right::after {
    box-shadow: var(--table-shadow-right-primary);
}
