@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

/* custome scroll */
*::-webkit-scrollbar-track
{
	background-color: var(--color-light-theme-secondary);
    border-radius: 5px;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--color-light-theme-secondary);
}

*::-webkit-scrollbar-thumb
{
	background-color: #8b7979;
    border-radius: 5px;
}